html, body {
  margin:0;
  height:100%;
}

.master-div {
  position: absolute;
  top: 100%;
}

.image-1 {
  position: absolute;
  top: 0;
  left: 55vw;
  width:40vw;
  height:72vh;
  filter: brightness(0.7);
  background: #ffffff url('../img/1916.jpg');
  background-size:cover;
  z-index: -1;
}

.centered-1 {
  position: relative;
  text-align: center;
  padding-top: 32vh;
  color: white;
  font: 700 30px "Ubuntu", serif;
}

.black-background {
  background:rgba(0,0,0,0.5);
  display: inline-block;
  padding: 10px;
}

.centered-2 {
  position: relative;
  text-align: center;
  padding-top: 50vh;
  color: white;
  font: 700 30px "Ubuntu", serif;
}


#predescription {
  height:30vh;
}
