*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 4px;
  z-index: 10;
  background-color: white;
  width: 650px;
  max-width: 80%;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #000000;
  background: rgba(0, 0, 0, 0);
  margin: 20px 20px 20px 20px;
  border-radius: 3px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button:hover {
  background: rgba(0,0,0,0.2);
  -o-transition:all .5s;
  -ms-transition:all .5s;
  -moz-transition:all .5s;
  -webkit-transition:all .5s;
  /* ...and now for the proper property */
  transition:all .5s;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 20px 30px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}