
.dot {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: black;
  position: absolute;
  top: -10px;
  left: -6px;
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.timeline {
  text-align: center;
  margin-top: 30px;
}

.timeline-div {
  border-left: 1px solid black;
  padding-left: 10px;
  display: inline-block;
  position: relative;
  padding-bottom: 20px;
  text-align: left;
  width:350px;
}