div {

}

b {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Esteban', serif;
}

::-webkit-scrollbar {
  display: none;
}

.rape {
  overflow: hidden;
  text-align: center;
  display:inline-block;
}

.wrapper {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: black;
  position: absolute;
  top: 40px;
  left: -6px;
}

.quotation-marks {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 32px;
  left: -6px;
}

.numbers {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}

.big {
  display: inline-block;
  font-size: 100px;
}

.number-single {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.small {
  display: inline-block;
  font-size: 17px;
}

.big-number {
  display: inline-block;
  font-size: 120px;
}

.medium-text {
  display: inline-block;
  font-size: 26px;
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.title-master {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-image {
  background: white url("../img/title-img.jpg") no-repeat center fixed;
  background-size: cover;
  z-index: -1;
}

.killed-image {
  background: white url("../img/death.jpg") no-repeat center fixed;
  background-size: cover;
}

.people-image {
  background: white url("../img/people.jpg") no-repeat center fixed;
  background-size: cover;
}

.people-imageb {
  background: white url("../img/peopleb.jpg") no-repeat center fixed;
  background-size: cover;
  opacity: 0;
  z-index: 1;
}

.city-image {
  background: white url("../img/city.jpg") no-repeat center fixed;
  background-size: cover;
  padding-top: 100vh;
}

.background-tint {
  background-color: rgba(0,0,0,.4);
  background-blend-mode: multiply;
}

.background-tint-darker {
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
}

.title-div {
  width: 1000px;
  text-align: center;
  height: 100vh;
  display: inline-block;
}

.timeline {
  margin-left: 10vw;
  margin-top: 30px;
}

.front-title {
  padding-top: 180px;
  font-size: 70px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.body {
  font-family: 'Esteban', serif;
}

.timeline-div {
  font-family: 'Esteban', serif;
  border-left: 1px solid black;
  font-size: 18px;
  padding-left: 20px; padding-bottom: 5px; padding-right: 15px;
  display: inline-block;
  position: relative;
  text-align: left;
  width:450px;
}

.questions {
  text-align: center;
}

.white {
  color: white;
}

.question-div {
  text-align: left;
  width: 600px;
  margin-top: 10px;
  display: inline-block;
}

.question {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.question-body {
  text-align: justify;
  text-justify: inter-word;
}

.spacer {
  display: inline-block;
}

@media all and (max-width: 1188px) {

}

@media all and (max-width: 1100px) {
  .timeline-div {
    font-family: 'Esteban', serif;
    border-left: 1px solid black;
    font-size: 18px;
    padding-left: 20px; padding-bottom: 5px; padding-right: 15px;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 350px;
  }
}

@media all and (max-width: 1193px) {
  .spacer {
    display: block;
  }
  .medium-text {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 934px) {
  .timeline-div {
    font-family: 'Esteban', serif;
    border-left: 1px solid black;
    font-size: 18px;
    padding-left: 20px; padding-bottom: 5px; padding-right: 15px;
    display: inline-block;
    position: relative;
    text-align: left;
    width:250px;
  }
}


